.water {
  fill: #fff;
  stroke: #333;
}

.country {
  fill: #eff0f2;
  stroke: #333;
  stroke-width: 0.7px;
  transition: all 0.3s;
}

.country:hover {
  fill:#413d25;
  stroke-width: 1px;
}

html,body{
	margin: 0;
	padding: 0;
}

.country.hasNominee{
	  fill:#413d25;
}